.Paciente {
  display: grid;
  justify-items: center;
}

.NomePasciente {
  font-family: Hellix Bold;
  font-size: 1.2rem;
  margin: 0.618rem;
}

.Relato {
  font-size: 1rem;
  margin: 0 1.618rem 0 1.618rem;
  font-family: Hellix Normal;
  line-height: 1.3rem;
  color: #a2a2a2;
  text-align: center;
}