.vs-button--default.vs-button--active {
        -webkit-box-shadow: 0px 10px 20px -10px #52adc1 !important;
        box-shadow: 0px 10px 20px -10px #52adc1 !important;
        -webkit-transform: translate(0, -3px);
        transform: translate(0, -3px);
}

.vs-button--default:hover {
        -webkit-box-shadow: 0px 10px 20px -10px #52adc1 !important;
        box-shadow: 0px 10px 20px -10px #52adc1 !important;
        -webkit-transform: translate(0, -3px);
        transform: translate(0, -3px);
}

.vs-card {
        background: rgba(var(--vs-background), 1);
        color: rgba(var(--vs-text), 1);
        width: 100%;
        max-width: 40rem !important;
        height: max-content;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity));
        border-radius: 20px;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        cursor: pointer;
        position: relative;
}